* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Asap", sans-serif;
    font-size: 10px;
}

.body {
    background-color: #F4F1F0;
}

.section {
    margin: 0 auto;
    width: 1280px;
    padding-block: 18px;
}

.section-title {
    font-size: 1.8rem;
    font-weight: 600;
}

.tabbed-menu {
    margin: 17px 0;
}

.main-category-list {
    list-style: none;
    display: flex;
}

.main-category-item {
    margin-right: 15px;
}

.main-category-link {
    text-decoration: none;
    color: inherit;
    text-align: center;
}

.main-category-link label {
    padding: 6px 25px;
    display: block;
    background-color: #E5E5E5;
    border-radius: 50px;
    cursor: pointer;
}

.main-category-radio:checked+.main-category-item label,
.main-category-link:hover label {
    color: white;
    background-color: #AF7C38;
}


.main-category-title {
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.main-category-value {
    font-style: italic;
    font-weight: 600;
}


/* Article - List */
.sub-category-list {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.col {
    width: 33.3333%;
    padding: 10px;
}

.sub-category-item {
    padding-top: 62.5%;
    position: relative;
    color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.sub-category-item img {
    transition: all ease-in-out 0.25s;
}

.sub-category-item:hover .sub-category-img::after {
    display: none;
}

.sub-category-item:hover img {
    scale: 1.1;
}

.sub-category-item:hover .sub-category-value {
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
}

.sub-category-item:hover .sub-category-title {
    background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
}

.sub-category-img::after,
.sub-category-img,
.sub-category-link {
    position: absolute;
    inset: 0;
}




.sub-category-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.sub-category-img::after {
    content: "";
    display: block;
    background: linear-gradient(to top right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
}


.sub-category-link {
    color: inherit;
}

.sub-category-value,
.sub-category-title {
    position: absolute;
    left: 0;
    right: 0;
    padding: 25px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.sub-category-title {
    top: 0;
    font-size: 2.3rem;
}

.sub-category-value {
    bottom: 0;
    font-size: 1.5rem;
    font-weight: 500;
}

.sub-category-value .product-count {
    font-weight: 800;
    font-size: 1.6rem;
}