#best-seller {
    text-align: center;
    font-size: 25px;
    width: 1250px;
    margin: 0 auto;
}

.tab-list {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-item {
    padding: 15px 30px;
    background-color: #F4F4F4;
    margin-left: 10px;
    color: #6F6B70;
}

.product-list {
    display: flex;
}

.product {
    width: 25%;
}

.product+.product {
    margin-left: 20px;
}

.product-img-warpper {
    overflow: hidden;
    position: relative;
}

.product-img-list {
    width: 200%;
    display: flex;

}

.product-img {
    width: 50%;
    display: block;
}

.btn-list {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

}

.btn-list-sub {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.btn-sub {
    width: 30%;

}

.btn-main,
.btn-sub {
    background-color: #29388E;
    color: white;
    padding: 10px 0;

}

.rating .star-yellow {
    color: yellow;
}

.rating .star-grey {
    color: grey;
}

.product-title {
    color: #797979;
}

/* Hover Action */
.product-img-warpper:hover .btn-list {
    opacity: 1;
}

.btn-list {
    opacity: 0;
}

.product-img-list {
    transition: transform 0.5s ease-in-out;

}

.product-img-warpper:hover .product-img-list {
    transform: translateX(-50%);
}


/* Change Tab Action */
#input-1:checked~.tab-list>#tab-1,
#input-2:checked~.tab-list>#tab-2,
#input-3:checked~.tab-list>#tab-3,
#input-4:checked~.tab-list>#tab-4,
#input-5:checked~.tab-list>#tab-5 {
    background-color: #29388E;
    color: white;
}

#input-1:checked~#product-list-1,
#input-2:checked~#product-list-2,
#input-3:checked~#product-list-3,
#input-4:checked~#product-list-4,
#input-5:checked~#product-list-5 {
    display: flex;
}

.product-list {
    display: none;
}