:root {
    --font-family-base: "Nunito", sans-serif;
    --main-color: #ffa500;
    --color-title: #333;
    --color-title-white: #fff;
    --color-text-white: #eee;
    --color-text-white-ligter: #efefef;
    --color-text: #555;
    --color-text-light: #aaa;
    --color-text-black: #111;
    --color-btn-white: #efefef;
    --color-btn-black: #333;
    --color-btn-white-hover: #efefef;
    --background-input: #f7f7f7;
    --background-body: #efefef;
    --background-box: transparent;
    --background-box-hover: rgba(255, 255, 255, .8);
    --background-button-hover: rgba(255, 165, 0, .2);
    --background-white: #fff;
    --background-black: #222;
    --background-booking: #efefef;
}

input#checkbox-dark-mode:checked~* {
    --color-btn-white: #111;
    --color-btn-black: #111;
    --color-btn-white-hover: #ffa500;
    --color-text-white-ligter: #aaa;
    --color-text-white: #aaa;
    --color-title: #fff;
    --color-text: #aaa;
    --background-booking: #222;
    --background-body: #111;
    --background-white: #222;
    --background-box-hover: #222;
    --background-box: #222;
    --background-input: #333;
}

input#checkbox-dark-mode:checked~main .review-item,
input#checkbox-dark-mode:checked~main .service-item {
    border-color: transparent;
}

input#checkbox-dark-mode:checked~main .review-item:hover,
input#checkbox-dark-mode:checked~main .service-item:hover {
    border-color: var(--main-color);
}

input#checkbox-dark-mode:checked~main .gallery-item {
    --main-color: #fff;
    --color-text: #ffa500;
}

input#checkbox-dark-mode:checked~main .review-item {
    background-color: #222;
    ;
}

input#checkbox-dark-mode:checked~main .contact-form {
    box-shadow: 0 0em 10em #ffa6002c;
}

input#checkbox-dark-mode:checked~main .contact-form .form-input {
    border: 1px solid var(--main-color);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

html {
    font-size: 10px;
    font-family: var(--font-family-base);
}

/* Base */
.f-center {
    justify-content: space-between;
    align-items: center;
}

.full-width {
    width: 100%;
}

@media screen and (max-width:780px) {
    .col-sm-off {
        display: none;
    }
}


.secion-header {
    padding-block: 20px;
    background-color: rgba(34, 34, 34, .9);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
}

.test {
    margin-top: 200px;
}

.btn {
    font-size: 2.0rem;
    color: var(--color-btn-black);
    padding: 7px 11px;
    border-radius: 99px;
    border: 1.6px solid var(--main-color);
    background-color: var(--main-color);
    cursor: pointer;
    transition-property: background-color, color;
    transition: ease-in-out 150ms;
    display: inline-block;
}

.btn:hover {
    color: var(--color-btn-white-hover);
    background-color: rgba(255, 165, 0, 0.2);
}


.btn--light {
    padding: 10px 27px;
    color: var(--color-btn-white);
}

.btn--light:hover {
    color: var(--main-color);
}

.box-item {
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
}

.box-item:hover img {
    scale: 1.1;
}

.box-img-wrapper {
    overflow: hidden;
}

.box-img-wrapper img {
    width: 100%;
    transition: scale ease-in-out 200ms;
}

.box-content {
    background-color: var(--background-white);
    padding: 20px;
}

.box-title {
    font-size: 2.0rem;
    color: var(--color-title);
    font-weight: 600;
    margin-bottom: 10px;
}

.box-desc {
    font-size: 1.4rem;
    color: var(--color-text);
    line-height: 2;
    margin-bottom: 20px;
}


main {
    background-color: var(--background-body);
    padding-top: 0.1px;
    transition: background-color ease-in-out 200ms;
}

/* Header Logo */

.secion-header {
    padding-block: 15px;
}

.logo {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-title-white);
    z-index: 2;
}

.logo .hightlight {
    color: var(--main-color);
}

/* Header nav-bar */
.nav-bar {
    font-size: 2.0rem;
    color: var(--color-text-white-ligter);
}

.nav-bar .nav-list {
    display: flex;
}

.nav-bar .nav-link {
    padding-inline: 8px;
}

@media screen and (min-width:780px) {
    .nav-bar {
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.nav-bar--molbile-icon label,
.action-item label,
.nav-link {
    cursor: pointer;
    transition: color ease-in-out 300ms;
}

.nav-bar--molbile-icon label:active,
.action-item label:hover,
.nav-link:hover {
    color: var(--main-color);
}

.nav-bar--molbile-icon {
    display: none;
}

.nav-bar--mobile {
    display: none;
}


/* Header ACtion */
.header-actions {
    font-size: 2.5rem;
    z-index: 2;
    display: flex;
    align-items: center;
}

.action-item {
    font-size: inherit;
    background-color: transparent;
    border: none;
}

.action-item label[for='checkbox-dark-mode'] {
    border: 3px solid var(--main-color);
    color: var(--main-color);
    border-radius: 50%;
    display: block;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.darkmode-on-icon,
.darkmode-off-icon {
    display: none;
}

input#checkbox-dark-mode:not(:checked)~main .secion-header .darkmode-off-icon,
input#checkbox-dark-mode:checked~main .secion-header .darkmode-on-icon {
    display: block;
}


.header-actions {
    gap: 60px;
}

.section-home {
    margin-top: 100px;
    position: relative;
    width: 90%;
    margin-inline: auto;
    height: 80vh;
}

.section-home .background-wrapper {
    position: absolute;
    inset: 0;
    border-radius: 10px;
    overflow: hidden;
}

.section-home .background-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-home .home-content {
    position: absolute;
    inset: 0;
    background-color: rgba(17, 17, 17, .7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-title-name {
    font-weight: 700;
    font-size: 6.2rem;
    -webkit-text-stroke: 0.1rem var(--main-color);
    color: transparent;

}

.home-title-desc {
    font-size: 7.68rem;
    font-weight: 700;
    color: var(--color-title-white);
}

.home-desc {
    max-width: 600px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-text-white);
    line-height: 2;
    margin-bottom: 20px;
}

.section-home .btn {
    padding: 10px 20px;
}

/* Section Order */
.section-order {
    width: 80%;
    margin-inline: auto;
    background-color: var(--background-booking);
    box-shadow: rgba(17, 17, 17, 0.3) 0px 5px 10px 0px;
    padding: 30px 20px;
    transform: translateY(-25%);
    border-radius: 10px;
}

.order-title {
    font-size: 3.75rem;
    color: var(--main-color);
    font-weight: 600;
}

.section-order .btn {
    width: 100%;
    padding-block: 14px;
}

/* About Section */

.section {
    padding-block: 30px;
}


.section-sub-title {
    color: var(--main-color);
    font-size: 2.0rem;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
}

.section-main-title {
    font-size: 4.0rem;
    font-weight: 700;
    color: var(--color-title);
    margin-bottom: 20px;
    text-align: center;
}


.about-video-wrapper {
    display: flex;
    overflow: hidden;
}

.about-video {
    width: 100%;
    border-radius: 10px;
}

.about-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 99px;
    padding: 29px;
}

.about-action-item {
    width: 20px;
    height: 20px;
}

.about-action-item label {
    height: 100%;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid var(--main-color);
}

.about-action-item label:hover {
    background-color: var(--main-color);
}

.about-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.about-desc {
    margin-bottom: 20px;
    font-size: 1.7rem;
    color: var(--color-text);
}


/* Destination Section */
.destination-list {
    margin-top: 20px;
}

.section-destination .box-item {
    display: flex;
    flex-direction: column;
}

.section-destination .box-item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .05);
}

.section-destination .box-img-wrapper {
    height: 200px;
}

.section-destination .box-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-destination .box-content {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.section-destination .box-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
}

.section-destination .box-desc {
    color: var(--color-text-light);
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
}

.destination-link-wrapper {
    text-align: end;
    flex-grow: 1;
    align-content: end;
}

.destination-link {
    font-size: 1.7rem;
    color: var(--main-color);
    text-align: end;
}

.destination-link .destination-icon {
    transition: margin-left ease-in-out 200ms;
}

.destination-link:hover .destination-icon {
    margin-left: 8px;
}

/* Section-service */
.service-item {
    border-radius: 10px;
    border: 2px solid var(--main-color);
    padding: 30px;
    text-align: center;
    background-color: var(--background-box);
}

.service-item:hover {
    background-color: var(--background-box-hover);
}

.service-icon-wrapper {
    margin-bottom: 20px;
}

.service-icon {
    font-size: 4.0rem;
    color: var(--main-color);
}

.serivce-title {
    font-size: 2.0rem;
    color: var(--color-title);
    margin-bottom: 10px;
}

.service-desc {
    font-size: 1.4rem;
    color: var(--color-text);
    margin-bottom: 10px;
}

/* Gallery */
.section-single-title {
    font-size: 3.0rem;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 20px;
}

.gallery-img-wrapper {
    margin-bottom: 10px;
}

.gallery-img-wrapper img {
    width: 100%;
}

.gallery-desc {
    font-size: 1.4rem;
    color: var(--color-text);
}

.gallery-title {
    font-size: 2.0rem;
    color: var(--main-color);
}


/* REVIEW SECTION */
.review-heading {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review-heading .section-single-title {
    text-align: left;
    margin-bottom: 10px;
}

.review-desc {
    font-size: 1.4rem;
    color: var(--color-text);
    line-height: 2;
    font-weight: 600;
}


.review-item {
    border: 1.6px solid var(--main-color);
    border-radius: 10px;
    padding: 20px;
}

.review-item:hover {
    background-color: var(--background-box-hover);
}

.review-text {
    color: var(--color-text);
    font-size: 1.4rem;
    line-height: 2;
    font-weight: 600;

}

.review-author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.author-avatar-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.author-avatar-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.author-name {
    color: var(--color-title);
    font-size: 1.7rem;
    font-weight: 700;
}

.author-job {
    font-size: 1.5rem;
    color: var(--color-text);

}

/* Contact */
.col-45 {
    width: 45%;
}

.col-55 {
    width: 55%;
}

.section-contact .section-single-title {
    letter-spacing: 3px;
}

.map-wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.map-wrapper iframe {
    width: 100%;
    height: 90%;
}

.contact-form {
    padding: 20px;
    background-color: var(--background-white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px 0px;
}

.form-input {
    font-size: 1.7rem;
    color: var(--color-title);
    padding: 12px 10px;
    width: 100%;
    background-color: var(--background-input);
    border: none;
    font-weight: 400;
}

textarea.form-input {
    font-family: inherit;
    height: 150px;
    resize: none;
}

.contact-form .btn {
    margin-top: 20px;
    padding-inline: 21px;
}

/* BLog Section */

.section-blog .box-item {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px 0px;
}

.blog-meta-info {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    color: var(--color-text);
}

.section-blog .box-item a:hover {
    color: var(--main-color);
}

.blog-meta-icon {
    color: var(--main-color);
    margin-right: 5px;
}

/* Banner SECTIOn */
.section-banner {
    background: rgba(0, 0, 0, 0.3) url("../img/banner-bg.jpg") no-repeat fixed;
    background-size: 100%;
    background-position: bottom;
    text-align: center;
    position: relative;
}

.section-banner::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.section-content {
    position: relative;
}

.section-banner .section-main-title {
    color: var(--color-title-white);
}

.banner-desc {
    color: var(--color-text-white);
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.section-banner .btn {
    padding: 8px 20px;
}

/* Section Footer */
.section-footer {
    background-color: var(--background-black);
    color: var(--color-text-light);
}

.footer-about-logo {
    font-size: 2.5rem;
    color: var(--color-title-white);
    margin-bottom: 10px;
    font-weight: 700;
}

.footer-about-logo .hightlight {
    color: var(--main-color);
}

.footer-about-desc {
    font-size: 1.4rem;
    line-height: 2;
    margin-bottom: 20px;
}

.footer-social-list {
    display: flex;
    gap: 10px;
}

.footer-social-list .social-link {
    color: var(--main-color);
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 1.7rem;
    transition-property: color, background-color;
    transition: ease-in-out 150ms;
}

.footer-social-list .social-link:hover {
    color: var(--color-text-black);
    background-color: var(--main-color);
}

.footer-title {
    color: var(--color-title-white);
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.footer-list-item {
    font-size: 1.4rem;
    padding-block: 10px;
}

.footer-list-item i {
    margin-right: 10px;
    color: var(--main-color);
    transition: margin-right ease-in-out 200ms;
}

.footer-list-item a {
    width: 100%;
    display: inline-block;
    transition: color ease-in-out 200ms;
}

.footer-list-item a:hover {
    color: var(--main-color);
}

.footer-list-item a:hover i {
    margin-right: 30px;
}

.footer-contact .footer-list-item {
    line-height: 2;
}

.footer-news .footer-title {
    margin-bottom: 20px;
}

.footer-news .footer-about-desc {
    margin-bottom: 10px;
}

.footer-form .form-input {
    padding-block: 12px 14px;
    border-radius: 99px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 2px solid var(--main-color);
    font-size: 1.4rem;
}

.credit {
    text-align: center;
    color: var(--color-text);
    padding-top: 20px;
    font-size: 2.0rem;
}

.credit a {
    color: var(--main-color);
}