@media (max-width: 991.98px) {
    .nav-bar {
        display: none;
    }

    .nav-bar--molbile-icon {
        display: inline-block;
    }

    .nav-bar--mobile {
        display: block;
        visibility: hidden;
        height: 0;
    }

    #open-nav-mobile:checked~.nav-bar--mobile {
        visibility: visible;
        /* BUG fixed height */
        height: 400px;
    }

    .logo {
        position: absolute;
        left: 50%;
        translate: -50%;
    }


    .home-title-name {
        font-size: 4.0rem;
    }

    .home-title-desc {
        font-size: 5.0rem;
    }

    .map-wrapper {
        aspect-ratio: 4/3;
    }


}

@media screen and (max-width: 575.98px) {
    .home-title-name {
        font-size: 3.5rem;
    }

    .home-title-desc {
        font-size: 4.0rem;
    }

    .order-title {
        font-size: 2.4rem;
    }

    .section-banner { 
        background-size: auto 100%;
    }

}

@media (max-width: 575.98px) {
    .container {
        max-width: none;
        padding-inline: 20px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        max-width: 960px;

    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        max-width: 960px;

    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}