/* Form Search */
#open-search-action:checked~.header-actions label[for='open-search-action'] .open-icon,
#open-search-action:not(:checked)~.header-actions label[for='open-search-action'] .close-icon {
    display: none;
}

#open-search-action:not(:checked)~.header-actions label[for='open-search-action'] .open-icon,
#open-search-action:checked~.header-actions label[for='open-search-action'] .close-icon {
    display: inline-block;
}


#open-search-action:not(:checked)~.form-search {
    display: none;
}

/* Form List */
.modal-form {
    transition: transform 300ms ease-in-out, visibility ease-in-out 300ms;
}


input#open-modal-form:not(:checked)~.modal-form {
    visibility: hidden;
    transform: translateY(-100%);

}

input#open-modal-form:checked~.modal-form {
    visibility: visible;
    transform: translateY(0);
}

.modal-form .form-title {
    transition: color ease-in-out 200ms;

}

input#radio-register:checked~.form-title-wrapper .form-title--register,
input#radio-login:checked~.form-title-wrapper .form-title--login {
    color: var(--main-color);
}

input#radio-login:not(:checked)~.form-login,
input#radio-register:not(:checked)~.form-register {
    visibility: hidden;
    transform: translateY(80%);
    transition: transform 150ms ease-in-out, visibility ease-in-out 150ms;
}


input#radio-login:checked~.form-login,
input#radio-register:checked~.form-register {
    visibility: visible;
    transition: transform 150ms 150ms ease-in-out, visibility ease-in-out 300ms 150ms;
}


/* Home */
.home-background img {
    visibility: hidden;
    opacity: 0.95;
    transition: opacity ease-in-out 150ms, visibility ease-in-out 150ms;
}

input#radio-img-2:checked~.home-background .background-2,
input#radio-img-3:checked~.home-background .background-3,
input#radio-img-1:checked~.home-background .background-1 {
    visibility: visible;
    opacity: 1;
    transition-delay: 150ms;
}

.home-action-item label {
    transition: background-color ease-in-out 300ms;
}

input#radio-img-1:checked~.home-content label[for='radio-img-1'],
input#radio-img-2:checked~.home-content label[for='radio-img-2'],
input#radio-img-3:checked~.home-content label[for='radio-img-3'] {
    background-color: var(--main-color);
}