/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
}

input,
textarea,
button {
  outline: none;
  border: none;
  font-family: inherit;
}

textarea {
  resize: none;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 1.4rem;
}

img {
  display: block;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
}

.container-sm {
  max-width: 975px;
  margin-inline: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-31 {
  --column-size: 3.7;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.col-38 {
  --column-size: 3.8;
}

.col-44 {
  --column-size: 4.4;
}

.row.gx-ct-84 {
  --column-space: 84px;
}

.row.gx-ct-52 {
  --column-space: 52px;
}

.row.gy-ct-96 {
  --row-space: 96px;
}

.row.gy-ct-40 {
  --row-space: 40px;
}

.self-news-list .self-news-item, .news-list .news-item {
  color: var(--Content, #2c2c2c);
  background: var(--White, #fff);
  overflow: hidden;
  height: 100%;
}

.self-news-list .self-news-item .self-news-img-wrapper, .news-list .news-item .news-img-wrapper {
  overflow: hidden;
}
.self-news-list .self-news-item .self-news-img-wrapper img, .news-list .news-item .news-img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.self-news-list .self-news-item .self-news-content {
  padding: 24.17px 27px 6px;
}

.news-list .news-item .news-metas {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.self-news-list .self-news-item .self-news-content .self-news-title, .news-list .news-item .news-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 133.333%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.self-news-list .self-news-item .self-news-content .self-news-desc, .news-list .news-item .news-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 127.604%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
}

.news-list .news-item .news-img-wrapper {
  height: 273px;
  margin-bottom: 16.27px;
  border-radius: 6.667px;
  box-shadow: 0px 3.333px 3.333px 0px rgba(0, 0, 0, 0.25);
}
.news-list .news-item .news-metas {
  margin-bottom: 16.27px;
  font-size: 15px;
  font-weight: 500;
}
.news-list .news-item .news-metas .meta-category {
  color: var(--green-800-main, #46b20f);
}
.news-list .news-item .news-metas .meta-published-date {
  color: var(--grey-500-main, #a3a3a3);
}
.news-list .news-item .news-metas .meta-published-date .published-date-icon {
  display: inline;
  vertical-align: sub;
}
.news-list .news-item .news-title {
  margin-bottom: 16.27px;
}
.self-news-list .self-news-item {
  border-radius: 8.333px;
}
.self-news-list .self-news-item .self-news-img-wrapper {
  border-radius: 8.333px;
  height: 195px;
}
.self-news-list .self-news-item .self-news-content .self-news-title {
  color: var(--Orange-700, #e05000);
  text-shadow: 0px 3.333px 3.333px rgba(0, 0, 0, 0.25);
  margin-bottom: 7px;
}
.self-news-list .self-news-item .self-news-content .self-news-desc {
  color: var(--Content, #19191b);
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 20px;
  min-width: 154px;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  transition-property: background-color, color;
  transition: 200ms ease-in-out;
}
.btn.btn-primary {
  padding: 16px 14px;
  color: var(--White, #fff);
  background: var(--green-800-main, #46b20f);
}
.btn.btn-primary:hover {
  background: var(--Orange-600, #ff6916);
}
.btn.btn-primary:active {
  background: var(--Orange-700, #e05000);
}
.btn.btn-primary:disabled {
  background: var(--Grey-400, #b7b7b7);
}
.btn.btn-secondary {
  padding: 14px 26px;
  color: var(--Content, #2c2c2c);
  border: 1px solid var(--green-800-main, #46b20f);
}
.btn.btn-secondary:hover {
  background: var(--green-800-main, #46b20f);
  color: var(--White, #fff);
}
.btn.btn-secondary:active {
  background: var(--Green-900, #2e8900);
}
.btn.btn-secondary:disabled {
  background: var(--Grey-400, #b7b7b7);
}

.circle {
  border-radius: 50%;
  width: 235px;
  max-width: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  z-index: -1;
}

.circle--green {
  background-color: var(--Green-200, #dcffca);
}

.circle--orange {
  background-color: var(--Orange-200, #ffd5bd);
}

.section-footer {
  padding: 64px 0 27px;
  background: var(--Green-100, #f2ffec);
  color: var(--Content, #2c2c2c);
  line-height: 130%; /*  */
  font-size: 16px;
  font-weight: 400;
}
.section-footer .footer-item .footer-item-title {
  color: var(--green-800-main, #46b20f);
  margin-bottom: 13px;
}
.section-footer .footer-item .footer-list-item {
  color: var(--Content, #2c2c2c);
  margin-bottom: 6.7px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.section-footer .footer-item .footer-item-desc {
  margin-bottom: 6.7px;
}
.section-footer .footer-item.footer-about .img-wrapper {
  margin-bottom: 24px;
}
.section-footer .footer-item.footer-about .footer-item-desc {
  width: 200px;
  max-width: 100%;
}
.section-footer .footer-item.footer-nav .nav-link:hover {
  color: var(--green-800-main, #46b20f);
}
.section-footer .footer-item.footer-support .footer-list-item {
  font-weight: 600;
}
.section-footer .footer-hr {
  margin-top: 72.5px;
  margin-bottom: 24px;
}
.section-footer .certified-img {
  height: 66px;
}
.section-footer .certified-img img {
  height: 100%;
}
.section-footer .social-list {
  display: flex;
  justify-content: flex-end;
  gap: 6.67px;
}
.section-footer .social-list .social-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Green-200, #dcffca);
  border-radius: 50%;
  padding: 8px;
}
.section-footer .social-list .social-link:hover {
  background: var(--green-800-main, #46b20f);
  color: white;
}

.header-section {
  background: var(--White, #fff);
  box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.header-section .header-inner {
  display: flex;
  min-height: 108px;
  align-items: center;
}
.header-section .header-inner .header-nav-action {
  display: flex;
  margin-left: auto;
  align-self: flex-end;
  gap: 50px;
}
.header-section .header-inner .header-nav-action .nav .nav-list {
  display: flex;
  gap: 50px;
}
.header-section .header-inner .header-nav-action .nav .nav-list .nav-item .nav-link {
  display: block;
  padding: 25px 0 35px 0;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 130%;
  position: relative;
}
.header-section .header-inner .header-nav-action .nav .nav-list .nav-item .nav-link::before {
  display: block;
  content: "";
  height: 1.6px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.header-section .header-inner .header-nav-action .nav .nav-list .nav-item .nav-link.active, .header-section .header-inner .header-nav-action .nav .nav-list .nav-item .nav-link:hover {
  color: var(--green-800-main, #46b20f);
}
.header-section .header-inner .header-nav-action .nav .nav-list .nav-item .nav-link:hover::before {
  background-color: var(--green-800-main, #46b20f);
}
.header-section .header-inner .header-nav-action .actions {
  display: flex;
  gap: 50px;
}
.header-section .header-inner .header-nav-action .actions .action-item {
  display: block;
  padding: 25px 0 35px 0;
  position: relative;
  cursor: pointer;
}
.header-section .header-inner .header-nav-action .actions .action-item::before {
  display: block;
  content: "";
  height: 1.6px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.header-section .header-inner .header-nav-action .actions .action-item.active, .header-section .header-inner .header-nav-action .actions .action-item:hover {
  color: var(--green-800-main, #46b20f);
}
.header-section .header-inner .header-nav-action .actions .action-item:hover svg use {
  color: var(--green-800-main, #46b20f);
  stroke: #46b20f;
}
.header-section .header-inner .header-nav-action .actions .action-item:hover::before {
  background-color: var(--green-800-main, #46b20f);
}
.header-section .header-inner .header-nav-action .actions .action-cart .action-cart-inner {
  position: relative;
  display: block;
}
.header-section .header-inner .header-nav-action .actions .action-cart .action-cart-inner .quanitty {
  width: 13.333px;
  height: 13.333px;
  background-color: var(--Orange-700, #e05000);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--White, #fff);
  position: absolute;
  top: 0;
  right: 0;
  translate: 50% -50%;
  border-radius: 50%;
}

.hero-section {
  display: flex;
  margin-top: 109px;
  height: calc(100vh - 109px);
}
.hero-section .hero-content-inner {
  position: absolute;
  left: 0;
  right: 0;
  height: calc(100vh - 109px);
}
.hero-section .hero-content-inner .container {
  height: 100%;
}
.hero-section .hero-content-inner .hero-detail {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--Content, #2c2c2c);
}
.hero-section .hero-content-inner .hero-detail .sub-heading {
  font-size: 3.6666rem;
  font-weight: 800;
  line-height: 131.523%; /* 48.225px */
  width: 90%;
  margin-bottom: 11.7px;
}
.hero-section .hero-content-inner .hero-detail .main-heading {
  font-size: 43.333px;
  font-weight: 800;
  width: 400px;
  max-width: 100%;
  margin-bottom: 27.67px;
}
.hero-section .hero-content-inner .hero-detail .hero-desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 127.604%;
  width: 450px;
  max-width: 100%;
}
.hero-section .hero-banner {
  margin-left: auto;
  width: 48%;
  background: var(--Green-200, #dcffca);
  border-radius: 17px 0 0 17px;
  position: relative;
  height: 100%;
}
.hero-section .hero-banner .banner-img-wrapper {
  height: 100%;
  translate: -25%;
}
.hero-section .hero-banner .banner-img-wrapper img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.hero-section .hero-banner .banner-heading {
  position: absolute;
  top: 0;
  left: 100%;
  opacity: 0.15;
  transform: rotate(90deg);
  transform-origin: top left;
  color: var(--Green-1000, #216000);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 166px;
  font-weight: 800;
  overflow: hidden;
  padding-left: 10px;
}

.section-base {
  padding-top: 100px;
}
.section-base .section-title {
  color: var(--Content, #2c2c2c);
  margin-inline: auto;
  text-align: center;
  font-size: 31.667px;
  font-weight: 800;
  line-height: 131.523%; /* 41.649px */
  margin-bottom: 25px;
}
.section-base .section-desc {
  color: var(--Content, #2c2c2c);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 127.604%;
  margin-inline: auto;
}

.about-section .section-title {
  width: 560px;
  max-width: 100%;
}
.about-section .section-desc {
  width: 643px;
  max-width: 100%;
}
.about-section .about-list {
  padding: 90px 0 114px;
}
.about-section .about-list .about-item {
  box-sizing: border-box;
  box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
  background: var(--White, #fff);
  flex-basis: 25%;
  border-radius: 3.333px;
  padding: 33px;
}
.about-section .about-list .about-item .item-icon-wrapper {
  width: 83px;
  height: 83px;
  border-radius: 10px;
  background: var(--Orange-100, #fff0e7);
  padding: 19px;
  margin-bottom: 23px;
}
.about-section .about-list .about-item .item-icon-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.about-section .about-list .about-item .item-title {
  color: var(--Content, #2c2c2c);
  font-size: 43.333px;
  font-weight: 800;
  margin-bottom: 23px;
}
.about-section .about-list .about-item .item-desc {
  color: var(--Content, #2c2c2c);
  font-size: 20px;
  font-weight: 400;
  line-height: 154.167%;
}
.about-section .about-list [class^=col]:nth-child(2) .about-item {
  padding: 60.83px 33px;
}
.about-section .about-list [class^=col]:nth-child(2) .about-item .item-icon-wrapper {
  background: var(--Green-100, #f2ffec);
}
.about-section .about-list {
  position: relative;
}
.about-section .about-list .circle--orange {
  bottom: 0;
  right: 0;
}
.about-section .about-list .circle--green {
  top: 0;
  left: 0;
}

.section-product .product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 96px 83px;
  margin-bottom: 28px;
}
.section-product .product-list .product-item {
  position: relative;
  text-align: center;
  height: 100%;
  padding-top: 0.1px;
}
.section-product .product-list .product-item:hover .product-title {
  color: var(--green-800-main, #46b20f);
}
.section-product .product-list .product-item .product-img-wrapper {
  margin-top: 114px;
  margin-right: 27.4px;
  margin-bottom: 17.19px;
}
.section-product .product-list .product-item .product-img-wrapper img {
  max-width: 100%;
}
.section-product .product-list .product-item .product-img-wrapper .circle {
  top: 0;
  width: 100%;
}
.section-product .product-list .product-item .product-title {
  color: var(--Content, #2c2c2c);
  font-size: 23.333px;
  font-weight: 700;
  margin-bottom: 12.81px;
}
.section-product .product-list .product-item .product-line {
  width: 40px;
  background-color: var(--grey-500-main, #a3a3a3);
  height: 1.6px;
  margin-inline: auto;
  margin-bottom: 16.67px;
}
.section-product .product-list .product-item .product-desc {
  color: var(--Grey-800, #656565);
  font-size: 16.667px;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 6.33px;
}
.section-product .product-list .product-item .product-price {
  color: var(--Content, #2c2c2c);
  font-size: 16.667px;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 31px;
}
.section-product .product-list .product-item .product-price .price-number {
  color: var(--Content, #2c2c2c);
  font-size: 23.333px;
  font-weight: 600;
  line-height: 1.1428;
}
.section-product .product-list [class^=col]:nth-child(3n+2) .product-item .product-img-wrapper .circle {
  top: 0;
  width: 100%;
  background: var(--Green-300, #c5ffa8);
}
.section-product .product-list [class^=col]:nth-child(3n+1) .product-item .product-img-wrapper .circle,
.section-product .product-list [class^=col]:nth-child(3n+3) .product-item .product-img-wrapper .circle {
  top: 0;
  width: 100%;
  background: var(--Orange-300, #ffba94);
}

.section-news .section-desc {
  width: 660px;
  max-width: 100%;
  margin-bottom: 28.83px;
}
.section-news .news-list {
  margin-bottom: 80px;
}
.section-news .btn-wrapper {
  text-align: center;
}

.section-self-news .section-title {
  width: 400px;
  max-width: 100%;
}
.section-self-news .section-desc {
  margin-bottom: 165px;
}
.section-self-news .self-news-list {
  border-radius: 8.333px;
  background: var(--Orange-100, #fff0e7);
}
.section-self-news .self-news-list .self-news-item {
  translate: 0 -120px;
}

.section-service {
  padding-top: 133px;
}
.section-service .service-list .service-item {
  display: flex;
  gap: 16px;
}
.section-service .service-list .service-item .icon-wrapper {
  min-width: 56px;
  width: 56px;
}
.section-service .service-list .service-item .icon-wrapper img {
  max-width: 100%;
}
.section-service .service-list .service-item .service-content {
  color: var(--Content, #2c2c2c);
}
.section-service .service-list .service-item .service-content .service-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 133.333%;
  margin-bottom: 6.67px;
}
.section-service .service-list .service-item .service-content .service-desc {
  font-size: 17px;
  font-weight: 500;
}

.section-contact {
  padding-top: 133px;
  padding-bottom: 100px;
}
.section-contact .contact-form {
  margin-top: 55px;
}
.section-contact .contact-form .form-title {
  color: var(--Content, #2c2c2c);
  font-size: 20px;
  font-weight: 600;
  line-height: 133.333%;
  margin-bottom: 26px;
}
.section-contact .contact-form .form-group {
  margin-bottom: 22px;
}
.section-contact .contact-form .form-group .form-input {
  width: 100%;
  padding: 13px;
  border-radius: 6.667px;
  border: 0.833px solid var(--grey-500-main, #a3a3a3);
  color: var(--grey-500-main, #a3a3a3);
  font-size: 16px;
  font-weight: 400;
}
.section-contact .contact-form .form-group textarea.form-input {
  height: 150px;
}
.section-contact .contact-form .form-action {
  margin-top: 26px;
  text-align: end;
}

/*# sourceMappingURL=style.css.map */
