* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Asap", sans-serif;
    font-size: 10px;
}

.section {
    margin: 0 auto;
    width: 1280px;
}

.section-title {
    font-size: 1.8rem;
}