* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
}

.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.col-full {
    padding-top: 15px;
    padding-bottom: 15px;
}

.col1-2 {
    padding: 15px;
    width: 50%;
}

.section-form {
    text-align: center;
    padding-top: 20px;
    font-size: 1.5rem;
}


.section-title {
    font-size: 4.0rem;
    margin-bottom: 35px;
}


.section-desc {
    font-size: 2.0rem;
    color: #7f7c7c;
    margin-bottom: 50px;
}

.contact-form {
    width: 800px;
    margin: 0 auto;

}

.form-field {
    width: 100%;
    position: relative;
    --padding: 10px;
}

.form-label {
    position: absolute;
    top: calc(var(--padding)*1.5);
    left: var(--padding);
    color: #7f7c7c;
    transition: ease-in-out 200ms font-size, linear 200ms top;
    font-size: 1.6rem;
    cursor: text;
}

.form-text:not(:placeholder-shown)+.form-label,
.form-input:not(:placeholder-shown)+.form-label,
.form-text:focus+.form-label,
.form-input:focus+.form-label {
    top: calc(var(--padding)/2);
    font-size: 1.2rem;

}

.form-text:not(:placeholder-shown),
.form-input:not(:placeholder-shown) {
    background-color: #e8e8fb;

}

.form-text:focus,
.form-input:focus {
    border-color: #4D77D9;
}


.form-label.label-required::after {
    content: "*";
    margin-left: 3px;
}

.form-select,
.form-text,
.form-input {
    width: 100%;
    padding: var(--padding);
    padding-top: calc(2 * var(--padding));
    border: #cbc7c7 solid 1.5px;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.065);
    font-size: 1.6rem;
    outline: none;
}

.form-select {
    padding-top: calc(var(--padding) *1.5);
    padding-bottom: calc(var(--padding) *1.5);
}

.form-select {
    color: #7f7c7c;
}

.form-select option {
    color: black;
}

.form-select option:disabled {
    color: #7f7c7c;
}

.form-text {
    resize: none;
}

.form-btn {
    padding: 15px 25px;
    border-radius: 999px;
    border: none;
    background-color: #4D77D9;
    color: white;
    cursor: pointer;
    transition: background-color 100ms ease-in-out;
    font-weight: 600;
    font-size: 1.6rem;
}

.form-btn:hover {
    background-color:#3f61b1;
}