// Định nghĩa các cái class hay sử dụng

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 1.4rem;
}

img {
    display: block;
}

%object-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}