$active-nav-color: #46b20f;
$active-line-color: #46b20f;
$text-nav-color: #2c2c2c;

:root {
    --Content: #2c2c2c;
    --Green-1000: #216000;
    --green-800-main: #46b20f;
    --grey-500-main: #a3a3a3;
    --Grey-800: --Green-200: #dcffca;
    --White: #fff;
    --Orange-100: #fff0e7;
    --Green-100: #f2ffec;
    --Green-300: #c5ffa8;
    --Orange-300: #ffba94;
}
