@use "../layouts/header";
@use "../partials/base";
@use "../partials/mixin";
@use "../partials/variables" as var;
@use "../components/circle";

.hero-section {
    display: flex;
    margin-top: 109px;
    height: calc(100vh - 109px);
    .hero-content-inner {
        position: absolute;
        left: 0;
        right: 0;
        height: calc(100vh - 109px);

        .container {
            height: 100%;
        }

        .hero-detail {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: var(--Content, #2c2c2c);

            .sub-heading {
                font-size: 3.6666rem;
                font-weight: 800;
                line-height: 131.523%; /* 48.225px */
                width: 90%;
                margin-bottom: 11.7px;
            }

            .main-heading {
                font-size: 43.333px;
                font-weight: 800;
                // width: 65%;
                @include mixin.fixed-width(400px);
                margin-bottom: 27.67px;
            }

            .hero-desc {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 127.604%;
                // width: 75%;
                @include mixin.fixed-width(450px);
            }
        }
    }

    .hero-banner {
        margin-left: auto;
        width: 48%;
        background: var(--Green-200, #dcffca);
        border-radius: 17px 0 0 17px;
        position: relative;
        height: 100%;
        .banner-img-wrapper {
            height: 100%;
            translate: -25%;
            img {
                display: block;
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

        .banner-heading {
            position: absolute;
            top: 0;
            left: 100%;
            opacity: 0.15;
            transform: rotate(90deg);
            transform-origin: top left;
            color: var(--Green-1000, #216000);
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-size: 166px;
            font-weight: 800;
            overflow: hidden;
            padding-left: 10px;
        }
    }
}

.section-base {
    padding-top: 100px;

    .section-title {
        color: var(--Content, #2c2c2c);
        margin-inline: auto;
        text-align: center;
        font-size: 31.667px;
        font-weight: 800;
        line-height: 131.523%; /* 41.649px */
        margin-bottom: 25px;
    }

    .section-desc {
        color: var(--Content, #2c2c2c);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 127.604%;
        margin-inline: auto;
    }
}

.about-section {
    .section-title {
        @include mixin.fixed-width(560px);
    }

    .section-desc {
        @include mixin.fixed-width(643px);
    }

    .about-list {
        padding: 90px 0 114px;

        .about-item {
            box-sizing: border-box;
            box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
            background: var(--White, #fff);
            flex-basis: 25%;
            border-radius: 3.333px;
            padding: 33px;

            .item-icon-wrapper {
                width: 83px;
                height: 83px;
                border-radius: 10px;
                background: var(--Orange-100, #fff0e7);
                padding: 19px;
                margin-bottom: 23px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .item-title {
                color: var(--Content, #2c2c2c);
                font-size: 43.333px;
                font-weight: 800;
                margin-bottom: 23px;
            }

            .item-desc {
                color: var(--Content, #2c2c2c);
                font-size: 20px;
                font-weight: 400;
                line-height: 154.167%;
            }
        }

        [class^="col"]:nth-child(2) .about-item {
            padding: 60.83px 33px;
            // flex-basis: 30%;
            .item-icon-wrapper {
                background: var(--Green-100, #f2ffec);
            }
        }
    }

    .about-list {
        position: relative;

        .circle--orange {
            bottom: 0;
            right: 0;
        }

        .circle--green {
            top: 0;
            left: 0;
        }
    }
}

.section-product {
    .product-list {
        display: flex;
        flex-wrap: wrap;
        gap: 96px 83px;
        margin-bottom: 28px;

        .product-item {
            position: relative;
            text-align: center;
            height: 100%;
            padding-top: 0.1px;

            &:hover .product-title {
                color: var(--green-800-main, #46b20f);
            }

            .product-img-wrapper {
                margin-top: 114px;
                margin-right: 27.4px;
                margin-bottom: 17.19px;

                img {
                    max-width: 100%;
                }

                .circle {
                    top: 0;
                    width: 100%;
                }
            }

            .product-title {
                color: var(--Content, #2c2c2c);

                font-size: 23.333px;
                font-weight: 700;
                margin-bottom: 12.81px;
            }

            .product-line {
                width: 40px;
                background-color: var(--grey-500-main, #a3a3a3);
                height: 1.6px;
                margin-inline: auto;
                margin-bottom: 16.67px;
            }

            .product-desc {
                color: var(--Grey-800, #656565);
                font-size: 16.667px;
                font-weight: 400;
                line-height: 130%;
                margin-bottom: 6.33px;
            }

            .product-price {
                color: var(--Content, #2c2c2c);
                font-size: 16.667px;
                font-weight: 400;
                line-height: 130%;
                margin-bottom: 31px;

                .price-number {
                    color: var(--Content, #2c2c2c);
                    font-size: 23.333px;
                    font-weight: 600;
                    line-height: 1.1428;
                }
            }
        }

        [class^="col"]:nth-child(3n + 2) .product-item {
            .product-img-wrapper {
                .circle {
                    top: 0;
                    width: 100%;
                    background: var(--Green-300, #c5ffa8);
                }
            }
        }

        [class^="col"]:nth-child(3n + 1) .product-item,
        [class^="col"]:nth-child(3n + 3) .product-item {
            .product-img-wrapper {
                .circle {
                    top: 0;
                    width: 100%;
                    background: var(--Orange-300, #ffba94);
                }
            }
        }
    }
}

.section-news {
    .section-desc {
        // width: 55%;
        @include mixin.fixed-width(660px);
        margin-bottom: 28.83px;
    }

    .news-list {
        margin-bottom: 80px;
    }

    .btn-wrapper {
        text-align: center;
    }
}

.section-self-news {
    .section-title {
        @include mixin.fixed-width(400px);
    }

    .section-desc {
        margin-bottom: 165px;
    }

    .self-news-list {
        border-radius: 8.333px;
        background: var(--Orange-100, #fff0e7);
        .self-news-item {
            translate: 0 -120px;
        }
    }
}

.section-service {
    padding-top: 133px;

    .service-list {
        .service-item {
            display: flex;
            gap: 16px;

            .icon-wrapper {
                min-width: 56px;
                width: 56px;
                img {
                    max-width: 100%;
                }
            }

            .service-content {
                color: var(--Content, #2c2c2c);

                .service-title {
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 133.333%;
                    margin-bottom: 6.67px;
                }

                .service-desc {
                    font-size: 17px;
                    font-weight: 500;
                }
            }
        }
    }
}

.section-contact {
    padding-top: 133px;
    padding-bottom: 100px;

    .contact-form {
        margin-top: 55px;
        .form-title {
            color: var(--Content, #2c2c2c);
            font-size: 20px;
            font-weight: 600;
            line-height: 133.333%; 
            margin-bottom: 26px;
        }

        .form-group {
            margin-bottom: 22px;

            .form-input {
                width: 100%;
                padding: 13px;
                border-radius: 6.667px;
                border: 0.833px solid var(--grey-500-main, #a3a3a3);
                color: var(--grey-500-main, #a3a3a3);
                font-size: 16px;
                font-weight: 400;
            }

            textarea.form-input {
                height: 150px;
            }
        }

        .form-action {
            margin-top: 26px;
            text-align: end;
        }
    }
}
