@use "../partials/mixin";

%fade-transition {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

#input-open-nav:checked ~ .header-section .nav {
    visibility: visible;
    opacity: 1;

}
#input-open-nav:checked ~ .overlay {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.3s;
}

.overlay {
    @extend %fade-transition;
    visibility: hidden;
    position: fixed;
    z-index: 2;
    background-color: rgba($color: #000000, $alpha: 0.2);
    inset: 108px 0 0 0;
    label {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.header-section {
    background: var(--White, #fff);
    box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    .header-inner {
        display: flex;
        min-height: 108px;
        align-items: center;
        position: relative;

        .header-bar {
            display: none;
            @include mixin.media-from-x-to-y("", "md") {
                display: block;
                .bar-btn {
                    label {
                        font-size: 20px;
                        margin-right: 10px;
                        padding: 10px;
                        display: block;
                    }
                }
            }
        }

        .header-nav-action {
            display: flex;
            margin-left: auto;
            align-self: flex-end;
            --header-items-gap: 50px;
            gap: var(--header-items-gap);

            @include mixin.media-from-x-to-y("md", "lg") {
                --header-items-gap: 25px;
            }

            .nav {
                .nav-list {
                    display: flex;
                    gap: var(--header-items-gap);

                    .nav-item {
                        .nav-link {
                            display: block;
                            padding: 25px 0 35px 0;
                            font-size: 1.6rem;
                            font-weight: 600;
                            line-height: 130%;
                            position: relative;

                            &::before {
                                display: block;
                                content: "";
                                height: 1.6px;

                                position: absolute;
                                bottom: 0;
                                left: 0;
                                right: 0;
                            }

                            &.active,
                            &:hover {
                                color: var(--green-800-main, #46b20f);
                            }

                            &:hover::before {
                                background-color: var(--green-800-main, #46b20f);
                            }
                        }
                    }
                }

                .nav-btn-wrapper {
                    display: none;
                }
            }

            @include mixin.media-from-x-to-y("", "md") {
                .nav {
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.3s ease-in-out;
                    transition-property: visibility, opacity;
                    z-index: 9999;
                    position: fixed;
                    left: 0;
                    right: 0;
                    top: 109px;
                    border-radius: 5px;
                    box-shadow: 0px 10px 8.333px 0px rgba(0, 0, 0, 0.15);

                    .nav-list {
                        background-color: white;
                        position: relative;
                        z-index: 2;
                        display: block;
                        padding-inline: 40px;
                        padding-block: 10px;

                        .nav-item {
                            .nav-link {
                                padding-block: 10px;
                            }
                        }
                    }

                    .nav-btn-wrapper {
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;

                        label {
                            padding: 10px;
                            font-size: 25px;
                            display: block;
                        }
                    }
                }
            }

            .actions {
                display: flex;
                gap: var(--header-items-gap);

                .action-item {
                    display: block;
                    padding: 25px 0 35px 0;
                    position: relative;
                    cursor: pointer;

                    &::before {
                        display: block;
                        content: "";
                        height: 1.6px;

                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                    }

                    &.active,
                    &:hover {
                        color: var(--green-800-main, #46b20f);
                    }
                    &:hover svg use {
                        color: var(--green-800-main, #46b20f);
                        stroke: #46b20f;
                    }

                    &:hover::before {
                        background-color: var(--green-800-main, #46b20f);
                    }
                }

                .action-cart {
                    .action-cart-inner {
                        position: relative;
                        display: block;

                        .quanitty {
                            width: 13.333px;
                            height: 13.333px;
                            background-color: var(--Orange-700, #e05000);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: var(--White, #fff);
                            position: absolute;
                            top: 0;
                            right: 0;
                            translate: 50% -50%;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}
