:root {
    --nav-color: #4D4D4D;
    --main-color: #F55556;
    --sub-background-color: #fff;
    --main-background-color: #FDECEC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

.row {
    display: flex;
}

.col-1-3 {
    width: 33.333%;
}

.col-1-2 {
    width: 50%;
}

.section {
    width: 1300px;
    margin: 0 auto;
}

.section-header {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ===== HEADER SECTION====== */

.header-logo a {
    display: block;
}

.header-logo a img {
    max-height: 42px;
    vertical-align: middle;
}

.header-nav {
    width: fit-content;
    margin: 0 auto;
}

.header-nav .nav-list {
    display: flex;
    list-style-type: none;
    font-size: 1.4rem;
}


.header-nav .nav-link {
    color: inherit;
    text-decoration: none;
    padding: 7.5px;
    margin-inline: 10px;
    transition: color ease-in-out 100ms;
    color: var(--nav-color);
    font-weight: 500;
}

.nav-link.active,
.nav-link:hover {
    color: var(--main-color);
}

.header-action-list {
    width: fit-content;
    display: flex;
    align-items: center;
    box-shadow: 0px 9px 20px -2px rgba(0, 0, 0, 0.05);
    margin-left: auto;
    padding-block: var(--acition-list-padding);
    --acition-list-padding: 12px;
    font-size: 1.6rem;
}

.form-search {
    display: flex;
}

.form-icon {
    padding-left: 20px;
    font-size: 1.6rem;
    color: #868789;
}

.form-input {
    border: none;
    outline: none;
    font-size: inherit;
    line-height: inherit;
    padding-inline: 5px;
}

.form-input::placeholder {
    transition: opacity ease-in-out 100ms;
    color: black;
    font-size: inherit;
    font-weight: 500;
}

.form-input:focus::placeholder {
    opacity: 0;
}


.shopping-cart {
    position: relative;
}


.cart-icon {
    font-size: 2.0rem;
    padding-inline: 15px;
    position: relative;
    color: var(--nav-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cart-icon::before {
    background-color: #f2f2f2;
    position: absolute;
    content: "";
    display: block;
    width: 2px;
    top: -2px;
    bottom: -2px;
    left: 0;
}

.cart-quantity {
    position: absolute;
    right: 0;
    top: calc(-1 * var(--acition-list-padding));
    transform: translate(50%, -50%);
    color: white;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--main-color);
}

/* ===== Hero SECTION====== */
.section-hero {
    padding-top: 90px;
}

.hero-slogan {
    display: inline-block;
    background-color: #FDECEC;
    color: var(--main-color);
    padding: 12px 16px;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 999px;
    line-height: 16px;

}

.slogan-icon {
    vertical-align: middle;
    padding-right: 12px;
    line-height: 16px;
}

.slogan-icon img {
    height: 100%;
}


.hero-title {
    font-size: 7.4rem;
    font-weight: 700;
    line-height: 1.2;
    color: #2E2E2E;
    margin-block: 20px;
}

.hero-title .deliver-time {
    color: var(--main-color);
    font-weight: 500;
    letter-spacing: -0.5rem;
}

.hero-desc {
    font-size: 1.8rem;
    color: #676767;
    margin-bottom: 50px;
    width: 80%;
}

.hero-actions {
    display: flex;
}

.btn {
    border-radius: 12px;
}

.btn-order-process-desc,
.btn-order-now a {
    font-size: 2.0rem;
    padding: 21px 40px;
    text-decoration: none;
    color: inherit;
    display: block;
}

.btn-order-now {
    background-color: #f86061;
    color: white;
}

.btn-order-process {
    margin-left: 32px;
}

.btn-order-process a {
    display: flex;
    text-decoration: none;
    color: inherit;
}

.btn-order-process .btn-icon {
    box-shadow: 0px 10px 47px 3px rgba(0, 0, 0, 0.04);
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1/1;
}

.btn-order-process .btn-icon img {
    height: 100%;
    vertical-align: middle;
}

.btn-order-process-desc {
    padding-left: 20px;
    font-weight: 500;
    color: #2E2E2E;
}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}