:root {
    --nav-color: #4D4D4D;
    --main-color: #F55556;
    --title-color: #2E2E2E;
    --sub-background-color: #fff;
    --main-background-color: #FDECEC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

img {
    vertical-align: middle;
}

.row {
    display: flex;
}

.col-1-3 {
    width: 33.333%;
}

.col-1-2 {
    width: 50%;
}

.col-3-5 {
    width: 60%;
}

.col-2-5 {
    width: 40%;
}

.container {
    width: 1300px;
    margin: 0 auto;
}


.btn {
    border-radius: 12px;
    display: inline-block;
    height: 70px;
    min-width: 200px;
    border: 1px solid transparent;
}

.btn a {
    height: 100%;
    width: 100%;
    display: flex;
    padding-inline: 20px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 2.0rem;
    font-weight: 500;
}

.btn--main {
    background-color: #f86061;
    color: white;
    transition: ease-in-out 150ms;
    transition-property: background-color, border-color, color;
}

.btn--main:hover {
    background-color: #FFFAFA;
    border-color: #f86061;
    color: var(--main-color);
}

/* ===== SECTION BASE ====== */


.section-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.section-sub-title {
    font-size: 1.8rem;
    font-weight: 500;
}

.section-main-title {
    font-size: 4.0rem;
    color: var(--title-color);
    line-height: 1.35;
    font-weight: 700;
}


.section-detail {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.section-desc {
    font-size: 1.8rem;
    color: #676767;
    width: 70%;
    line-height: 1.7;
    margin-bottom: 55px;
}

.section-actions {
    display: flex;
}



/* ===== HEADER SECTION====== */
.section-header {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo a {
    display: block;
}

.header-logo a img {
    max-height: 42px;
}

.header-nav {
    width: fit-content;
    margin: 0 auto;
}

.header-nav .nav-list {
    display: flex;
    list-style-type: none;
    font-size: 1.4rem;
}


.header-nav .nav-link {
    color: inherit;
    text-decoration: none;
    padding: 7.5px;
    margin-inline: 10px;
    transition: color ease-in-out 100ms;
    color: var(--nav-color);
    font-weight: 500;
}

.nav-link.active,
.nav-link:hover {
    color: var(--main-color);
}

.header-action-list {
    width: fit-content;
    display: flex;
    align-items: center;
    box-shadow: 0px 9px 20px -2px rgba(0, 0, 0, 0.05);
    margin-left: auto;
    padding-block: var(--acition-list-padding);
    --acition-list-padding: 12px;
    font-size: 1.6rem;
}

.form-search {
    display: flex;
}

.form-icon {
    padding-left: 20px;
    font-size: 1.6rem;
    color: #868789;
}

.form-input {
    border: none;
    outline: none;
    font-size: inherit;
    line-height: inherit;
    padding-inline: 5px;
}

.form-input::placeholder {
    transition: opacity ease-in-out 100ms;
    color: black;
    font-size: inherit;
    font-weight: 500;
}

.form-input:focus::placeholder {
    opacity: 0;
}


.shopping-cart {
    position: relative;
}


.cart-icon {
    font-size: 2.0rem;
    padding-inline: 15px;
    position: relative;
    color: var(--nav-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cart-icon::before {
    background-color: #f2f2f2;
    position: absolute;
    content: "";
    display: block;
    width: 2px;
    top: -2px;
    bottom: -2px;
    left: 0;
}

.cart-quantity {
    position: absolute;
    right: 0;
    top: calc(-1 * var(--acition-list-padding));
    transform: translate(50%, -50%);
    color: white;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--main-color);
}

/* ===== Hero SECTION====== */
.section-hero {
    padding-top: 90px;
    padding-bottom: 130px;
}

.hero-slogan {
    display: inline-block;
    background-color: #FDECEC;
    color: var(--main-color);
    padding: 12px 16px;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 999px;
    line-height: 16px;

}

.slogan-icon {
    padding-right: 12px;
}

.slogan-icon img {
    height: 100%;
}


.hero-title {
    font-size: 7.4rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--title-color);
    margin-block: 20px;
}

.hero-title .deliver-time {
    color: var(--main-color);
    font-weight: 500;
    letter-spacing: -0.5rem;
}

.hero-desc {
    font-size: 1.8rem;
    color: #676767;
    margin-bottom: 50px;
    width: 80%;
}

.section-hero .section-actions {
    gap: 16px;
}

.btn-order-process {
    transition: opacity ease-in-out 150ms;
}

.btn-order-process:hover {
    opacity: 0.7;
}

.btn-order-process .btn-icon {
    box-shadow: 0px 10px 47px 3px rgba(0, 0, 0, 0.04);
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1/1;
}

.btn-order-process .btn-icon img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.btn-order-process-desc {
    padding-left: 20px;
    font-weight: 500;
    color: #2E2E2E;
}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* ===== Service SECTION====== */

.section-service {
    padding-block: 100px;
    text-align: center;
    background-color: #FEF5F5;
}


.section-service .section-sub-title {
    color: #F54748;
    margin-bottom: 5px;
}


.section-service .section-main-title {
    margin-inline: auto;
    width: 50%;
}

.service-list {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 60px;
}


.service-item {
    width: 23%;
    position: relative;
}

.service-shadow {
    content: "";
    display: block;
    position: absolute;
    background: #FE6A6A;
    width: 105%;
    height: 105%;
    top: 0;
    left: 0;
    transform-origin: top center;
    transition: transform ease 200ms,
        opacity ease 150ms;
    opacity: 0;

}

.service-item:hover .service-shadow {
    transform: rotateZ(-5deg);
    opacity: 1;
}

.service-shadow,
.service-content {
    border-radius: 12px;
}

.service-content {
    position: relative;
    padding: 50px 28px;
    background-color: white;
}

.service-icon {
    height: 130px;
}

.service-icon img {
    height: 60px;
}

.service-title {
    color: #2E2E2E;
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.service-desc {
    font-size: 1.4rem;
    color: #676767;
}


/* ===== Feature Product SECTION====== */

.section-feature {
    padding-block: 50px;
}

.section-feature .section-sub-title {
    margin-bottom: 8px;
}

.section-feature.explore-product .section-sub-title {
    color: #03A66B;
}

.section-feature .section-main-title {
    margin-bottom: 22px;
}

/* ===== Feature Home Delivery SECTION====== */

.section-feature.home-delivery .section-sub-title {
    color: #F9BA45;
}

.section-feature.home-delivery .section-main-title {
    width: 80%;
}

/* ===== Feature SECTION====== */
.mobile-app-download {
    padding-block: 100px;
    background-color: #FEF5F5;
}


.mobile-app-download .section-img {
    padding-inline: 28%;
}

.mobile-app-download .section-sub-title {
    color: #F54748;

}

.mobile-app-download .section-main-title {
    width: 80%;
}

.mobile-app-download .section-actions {
    gap: 12px;
}


.btn--mobile-store {
    border-color: #EEDCDC;
}
